/*
!/steam-update-scripts/DO_NOT_REMOVE
!/.gitignore
!/7za.exe
!/client-script.cmd
!/games.conf.example
!/generate-steam-update-script.cmd
!/server-script.cmd
!/steamcmd.exe
!/unzip-games.cmd
!/unzipping.conf.example
!/zip-games.cmd
!/zipping.conf.example